<!------------ BEGIN SLIDE ------------>
<div class="slide [SLIDE NUMBER] one-line-lrg-images">
 <div class="content">
   <a href="[PLAYLIST URI MAIN]" class="bg-link"></a>
   <p class="headline">
     [HEADLINE]<span class="headline-hashtag"></span>
   </p>
   <div class="album-set">
       <div class="album-container">
       <a href="[PLAYLIST URI 1]" data-playlist="[PLAYLIST NAME 1]">
         <div class="listen-now"></div>
       </a>
       <img class="album-thumbnail" src="[IMAGE 1]" />
       <div class="featuring-text">&nbsp;</div>
       <div class="album-artist">&nbsp;</div>
       <div class="album-artist2">&nbsp;</div>
     </div>
     <div class="album-container">
       <a href="[PLAYLIST URI 2]" data-playlist="[PLAYLIST NAME 2]">
         <div class="listen-now"></div>
       </a>
       <img class="album-thumbnail" src="[IMAGE 2]" />
         <div class="featuring-text"> </div>
         <div class="album-artist"> </div>
     </div>
     <div class="album-container">
       <a href="[PLAYLIST URI 2]" data-playlist="[PLAYLIST NAME 2]">
         <div class="listen-now"></div>
       </a>
       <img class="album-thumbnail" src="[IMAGE 3]" />
         <div class="featuring-text"> </div>
         <div class="album-artist"> </div>
     </div>
     <div class="album-container">
       <a href="[PLAYLIST URI 3]" data-playlist="[PLAYLIST NAME 3]">
         <div class="listen-now"></div>
         </a>
        <img class="album-thumbnail" src="[IMAGE 4]" />
        <div class="featuring-text">&nbsp;</div>
        <div class="album-artist">&nbsp;</div>
        <div class="album-artist2">&nbsp;</div>
     </div>
    </div>
    <div style="display: block;">
      <p class="headline">
       [HEADLINE 2]<span class="headline-hashtag"></span>
     </p>
    </div>
  </div>
</div>
<!---------------- END SLIDE -------------->
